.idea/
/data
/design
npm-debug.log

#client/
client/deploy.sh
client/node_modules
client/bower_components
client/build
client/dist
client/app/images/

#server/
server/node_modules

#blackbox
*.swp
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg

/data/models/cards.json
