.idea/
/data
/design

#blackbox
*.swp
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg

#client
client/deploy.sh
client/node_modules
client/bower_components
client/build
client/dist

#server
server/node_modules


