.deal{
  .instructions {
    margin:5vmin;
    float:left;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 100;
  }
}
.spread {
  .title {
    width:9vmin;
    height:22vmin;
    position: absolute;
    font-size:.75em;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    text-transform: capitalize;
  }
  .situation {
    top:45%;
    left:21%;
    z-index:2;
    &.title {
      top:45%;
      left:21%;
    }
  }

  .challenge {
    top:45%;
    left:21%;
    transform: rotate(90deg);
    &.title {
      top:43.5%;
      left:21.5%;
    }
    .mask {
      width:100%;
      height:50%;
      transform: rotate(-90deg);
      position:absolute;
      left:-45%;
      top:21%;
      div {
        width:100%;
        height:100%;
        position: absolute;
        top:100%;
      }
    }
    .face {
      width:100%;
      height:100%;
      position: absolute;
    }
  }

  .root {
    top:70%;
    left:21%;
    &.title {
      top:70%;
      left:21%;
    }
  }


  .crown {
    top:20%;
    left:21%;
    &.title {
      top:20%;
      left:21%;
    }
  }

  .past {
    top:45%;
    left:5%;
    &.title {
      top:45%;
      left:5%;
    }
  }

  .future {
    top:45%;
    left:37%;
    &.title {
      top:45%;
      left:37%;
    }
  }
  .self {
    top:72.5%;
    left:50%;
    &.title {
      top:72.5%;
      left:50%;
    }
  }

  .influences {
    top:50%;
    left:50%;
    &.title {
      top:50%;
      left:50%;
    }
  }

  .hope {
    top:27.5%;
    left:50%;
    &.title {
      top:27.5%;
      left:50%;
    }
  }

  .outcome {
    top:5%;
    left:50%;
    &.title {
      top:5%;
      left:50%;
    }
  }

}
$reading-border: solid 3px $black;

.close-modal {
  display: block;
  position:absolute;
  z-index:10;
  top:0;
  left:calc(64% - 25px);
  width:50px;
  height:50px;
  background:url(../images/close-modal.png) center center no-repeat;
  cursor:pointer;
  &:hover {
    background: url(../images/close-modal.png) center center no-repeat;
    background-size: 110%;
  }
  section{
    clear:both;
    overflow:auto;
    zoom:1;
  }
}

.modal {
  width:62%;
  height:100vh;
  overflow-y:scroll;
  position:fixed;
  background: $background-gradient;
  border-right: $reading-border;
  z-index:3;
  padding-left:2%;
  h1 {
    position: relative;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    text-transform: uppercase;
    top:1.25em;
    margin-bottom: 1em;
    .subhead {
      font-family: Verdana, Geneva, sans-serif;
      text-transform: none;
      font-size:.65em;
    }
  }
  p {
    position: relative;
    top:1.25em;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 1em;
    margin: 1em .25em;
    line-height: 1.45em;
  }
  .modal__card {
   div{
     width:30vw;
     height: calc(28vw * 1.75);
     position: relative;
     float:left;
     display: inline-block;
     span {
       width: 28vw;
       height :calc(28vw * 1.75);
       display: block;
       border:solid 1px #000;
       border-radius: 7px;
       box-shadow: $card-glow;
       margin-top:1em;
     }
   }
  }
  .modal__card-has {
    width:100%;
    padding-top: 1vh;
    position:relative;
    clear: both;
    div {
      width:30vw;
      height: calc(15vw/1.94);
      float:right;
      .modal__card-has__astro {
        width: 15vw;
        height: calc(15vw/1.94);
        display:block;
        float:left;
      }
      .modal__card-has__element {
        width:28vw;
        height: calc(15vw/1.94);
        display:block;
      }
      &.modal__card-has__number {
        width:28vw;
        height: calc(28vw * 1.25);
        float:right;
        padding-bottom: 3vh;
        span {
          width:28vw;
          height: calc(28vw * 1.25);
          display:block;
        }
      }
    }
  }
}

.reading {
  height:100%;
  width:38%;
  position:fixed;
  overflow-y: scroll;
  z-index:2;
  right:0;
  background: rgba(255,255,255, .05);
  border-left: $reading-border;
  ul {
    list-style: none;
    margin: 0 2vw 0 3.5vw;
    li {
      margin: 1.25em 0;
      transition: max-height 0.5s;
      &.position--placeholder {
        display: none;
        max-height: 0;
      }
      &.position--read {
        display: block;
        max-height: 100vh;
      }
    }
  }
  h1, h2 {
    font-size: 2em;
    font-weight:500;
    text-transform: capitalize;
  }
  //h2 {
  //  font-size: .875em;
  //  line-height: 1em;
  //  margin-bottom: 1em;
  //}
  p {
    font-size: 1.25em;
    margin-bottom: 1em;
    line-height:1.2em;
  }
}
