.deal{
  //text-align: center;
  //margin-top: 5%;
  .instructions {
    margin:5% 0 0 5%;
    float:left;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 100;
  }
}
//TODO: more to the left of tower
.spread {
  .situation {
    top:45%;
    left:21%;
    z-index:2;
  }

  .obstacle {
    top:45%;
    left:21%;
    transform: rotate(90deg);
    z-index:1;
    .mask {
      width:100%;
      height:50%;
      transform: rotate(-90deg);
      background:red;
      position:absolute;
      left:-50%;
      top:25%;
      div {
        width:100%;
        height:100%;
        background: blue;
        position: absolute;
        top:100%;
      }
    }
    .face {
      width:100%;
      height:100%;
      position: absolute;
    }
  }

  .root {
    top:70%;
    left:21%;
  }


  .crown {
    top:20%;
    left:21%;
  }

  .behind {
    top:45%;
    left:5%;
  }

  .ahead {
    top:45%;
    left:37%;
  }
  .self {
    top:72.5%;
    left:50%;
  }

  .influences {
    top:50%;
    left:50%;
  }

  .hope-fear {
    top:27.5%;
    left:50%;
  }

  .outcome {
    top:5%;
    left:50%;
  }
}

.reading {
  height:100%;
  width:38%;
  position:fixed;
  overflow-y: scroll;
  right:0;
  background: rgba(255,255,255, .05);
  border-left: solid 1px $gray;
  ul {
    list-style: none;
    margin: 0 3vw;
    li {
      margin: 1.25em 0;
    }
  }
  h1 {
    font-size: 2em;
    font-weight:400;
  }
  h2 {
    font-size: .9em;
    margin-bottom: 1em;
  }
  p {
    font-size: 1.25em;
    margin-bottom: 1em;
  }
}
