.detail {
  position: relative;
  top:0;
  width:100vw;
  height:100vh;
  background:$background-gradient;
}

.detail-close {
  position:absolute;
  top:20px;
  right:20px;
  width:36px;
  height:36px;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}
