.shuffle {
  text-align: center;
  margin-top: 2vmin;
  .instructions {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 100;
    // background: url(../images/arrows/1.webp) 0 0 no-repeat;
  }
}
