.home {
  main {
    // background:$red;
    text-align: center;
    position: relative;
    img {
      width: 40vw;
      margin-top: 1.25vmin;
      &.arrow {
          width: 7vw;
          position: relative;
          top:1vh;
        }
    }
  }
  footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    .tag {
      width:50vw;
      margin:0 auto;
      background:$white;
      text-align:center;
      position:relative;

      .icon {
        width: 8vmin;
        height: 6vmin;

        position:absolute;
        &.tetractys {
          background:url(../images/tetractys.svg) no-repeat;
          background-size: 7vmin 6vmin;
          top:12%;
          left:7%;
        }
        &.tree-of-life {
          background: (url(../images/tree_of_life_hebrew.svg)) no-repeat;
          background-size: 7vmin 6vmin;
          top:12%;
          left:84%;
        }
      }
      h1 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 4vw;
        font-weight: 100;
        margin: 1.25vmin;
      }
      p {
        font-size: 3vw;
      }
    }
  }
}

@media only screen and (max-height:360px) {
  footer {
    display: none;
  }
}



/* Small viewport ----------- */
@media only screen  and (min-width : 420px) {
  .home {
    main {
      // background:$orange;
      img {
        width:33vw;
        &.arrow{
          width:6vw;
        }
      }
    }
    footer {
      .tag {
        h1 {
          font-size: 3.5vw;
        }
        p {
          font-size:3vw;
        }
      }
    }
  }
  @media only screen and (max-height:560px) {
    footer {
      display: none;
    }
  }
}

/* Medium viewport ----------- */
@media only screen  and (min-width : 768px) {
  .home {
    main {
      // background:$yellow;
      h1 {
        // margin-top:5vmin;
      }
      img {
        width:30vw;
        &.arrow {
          width:5vw;
        }
      }
    }
    footer {
      .tag {
        width:45vw;
        h1 {
          font-size: 3vw;
        }
        p {
          font-size:2.5vw;
        }
      }
    }
  }
  @media only screen and (max-height:795px) {
    footer {
      display: none;
    }
  }
}

/* Average viewport ----------- */
@media only screen  and (min-width : 1224px) {
  .home {
    main {

      // background:$green-hi;
      img {
        width:20vw;
        &.arrow {
          width: 3.5vw;
        }
      }
    }
    footer {
      .tag {
        width:35vw;
        .icon {
          // left:5%;
        }
        h1 {
          font-size: 2.5vw;
        }
        p {
          font-size:2vw;
        }
      }
    }
  }
  @media only screen and (max-height:825px) {
    footer {
      display: none;
    }
  }
}

/* Large viewport ----------- */
@media only screen  and (min-width : 1824px) {
  .home {
    main {
      // background:$blue;
      img {
        width:17vw;
        &.arrow {
          width: 2.5vw;
        }
      }
    }
    footer {
      .tag {
        .icon {
        }
        h1 {
          font-size:2vw;
        }
        p {
          font-size:1.5vw;
        }
      }
    }
  }
   @media only screen and (max-height:980px) {
    footer {
      display: none;
    }
  }
}
