// //== Colors
$black      : #0A0A0A;
$white      : #FFFFFF;



// Palette
//$gray       : #9D9D9D !default;
$gray-light : #c3c4c7 !default;
$gray-dark  : #929396 !default;
$green-lo   : #579D3D;
$green-hi   : #0D9B11;

$red: #c70000;
$orange: #ff3305;
$yellow: #FFDC12;
$blue: #0B0DC2;
$light-blue: #0DC7FF;
$pink: #FF4FE9;
